{% extends 'base.html.twig' %}

{% block title %}Jordan - Cart{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 fs-1 fw-bold">Your Cart</h1>
    <div class="d-flex justify-content-center">
    <p>
        <i class="bi bi-cart"></i>
        Articles
        {% if cartCount > 0 %}
            <span class="badge bg-danger">{{ cartCount }}</span>
        {% endif %}
    </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.total }}</td>
                                <td>
                                    <a href="{{ path('cart_remove', {'id': product.id}) }}" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
